# ── CONFIGURACIÓN AWS S3 ──────────────────────────────
S3_BUCKET=astra-movies
AWS_REGION=us-east-1

# ── POSTGRES (CATALOGO) ───────────────────────────────
PG_HOST=172.31.82.75
PG_PORT=5432
PG_DB=cinema_catalog
PG_USER=catalog_user
PG_PASSWORD=CatalogSecurePass2026!
S3_PREFIX=catalogo

# ── MYSQL (COMMUNITY) ─────────────────────────────────
MYSQL_HOST=172.31.82.75
MYSQL_PORT=3306
MYSQL_DB=community_db
MYSQL_USER=community_user
MYSQL_PASSWORD=CommunitySecurePass2026!

# ── MONGODB (INTERACTION) ─────────────────────────────
MONGO_URI=mongodb://interaction_user:InteractionSecurePass2026!@172.31.82.75:27017/interaction_db?authSource=admin
MONGO_DB=interaction_db
